<div class="recruitment-overview">
  <aside class="filters">
    <h3>Filtruj</h3>
    <ul>
      <li (click)="toggleFilterOptions('jobCategory')"
          (keydown)="onKeyDownToggleFilter($event, 'jobCategory')"
          [class.active]="activeFilters.jobCategory"
          tabindex="0">
        Dział
      </li>
      <ul *ngIf="showFilterOptions.jobCategory">
        <li *ngFor="let category of uniqueJobCategories"
            (click)="applyFilter('jobCategory', category)"
            (keydown)="onKeyDownApplyFilter($event, 'jobCategory', category)"
            [class.active]="activeFilters.jobCategory === category"
            tabindex="0">
          {{ category }}
        </li>
      </ul>

      <li (click)="toggleFilterOptions('location')"
          (keydown)="onKeyDownToggleFilter($event, 'location')"
          [class.active]="activeFilters.location"
          tabindex="0">
        Lokalizacja
      </li>
      <ul *ngIf="showFilterOptions.location">
        <li *ngFor="let location of uniqueLocations"
            (click)="applyFilter('location', location)"
            (keydown)="onKeyDownApplyFilter($event, 'location', location)"
            [class.active]="activeFilters.location === location"
            tabindex="0">
          {{ location }}
        </li>
      </ul>

      <li (click)="toggleFilterOptions('workType')"
          (keydown)="onKeyDownToggleFilter($event, 'workType')"
          [class.active]="activeFilters.workType"
          tabindex="0">
        Rodzaj pracy
      </li>
      <ul *ngIf="showFilterOptions.workType">
        <li *ngFor="let type of uniqueWorkTypes"
            (click)="applyFilter('workType', type)"
            (keydown)="onKeyDownApplyFilter($event, 'workType', type)"
            [class.active]="activeFilters.workType === type"
            tabindex="0">
          {{ mapWorkType(type) }}
        </li>
      </ul>
    </ul>
    <button (click)="resetFilters()" class="reset-button">Resetuj filtry</button>
  </aside>

  <section class="recruitment-list">
    <div class="header">
      <h1>Moje rekrutacje</h1>
      <input type="text" placeholder="Szukaj rekrutacji..." (input)="onSearch($event)">
    </div>

    <div *ngIf="filteredRecruitments.length === 0" class="no-recruitment-message">
      Brak rekrutacji
    </div>

    <ul *ngIf="filteredRecruitments.length > 0">
      <li *ngFor="let recruitment of filteredRecruitments"
          class="recruitment-item"
          (click)="goToRecruitment(recruitment.offerCode, recruitment.title)"
          (keydown)="onKeyDownHandler($event, recruitment.offerCode, recruitment.title)"
          tabindex="0">
        <div class="recruitment-info">
          <h3>{{ recruitment.title }}</h3>
          <p>{{ recruitment.location }}</p>
        </div>
        <div class="recruitment-stats">
          <span>Nowi kandydaci: {{ recruitment.newApplications }}</span>
          <span>Wszyscy kandydaci: {{ recruitment.totalApplications }}</span>
        </div>
      </li>
    </ul>
  </section>

</div>
