<div class="login-container">
  <h1>Zaloguj się</h1>
  <div class="divider"></div>
  <form (ngSubmit)="submit()" #loginForm="ngForm" novalidate>
    <div class="mb-4">
      <label for="loginName" class="form-label">Login</label>
      <input
        id="loginName"
        name="login"
        type="text"
        class="form-control"
        [(ngModel)]="login"
        required
        aria-describedby="loginHelp"
        autocomplete="username"
        #loginControl="ngModel"
        [ngClass]="{'is-invalid': loginControl.touched && loginControl.invalid}"
      />
      <div *ngIf="loginControl.touched && loginControl.invalid" class="text-danger">
        Login jest wymagany
      </div>
    </div>

    <div class="mb-4">
      <label for="loginPassword" class="form-label">Hasło</label>
      <div class="input-group">
        <input
          type="password"
          id="loginPassword"
          name="password"
          class="form-control"
          [(ngModel)]="password"
          [type]="passwordVisible ? 'text' : 'password'"
          required
          aria-describedby="passwordHelp"
          autocomplete="current-password"
          #passwordControl="ngModel"
          [ngClass]="{'is-invalid': passwordControl.touched && passwordControl.invalid}"
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          id="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="Pokaż/Ukryj hasło"
        >
          <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"></fa-icon>
        </button>
      </div>
      <div *ngIf="passwordControl.touched && passwordControl.invalid" class="text-danger">
        Hasło jest wymagane
      </div>
    </div>

    <div class="forgot-password">
      <a (click)="resetPassword()" class="reset-password-link">Nie pamiętasz hasła</a>
    </div>

    <button type="submit" class="btn btn-primary">Zaloguj się</button>
  </form>
</div>
