<div class="row data-container">
  <div class="col-md-6 property">
    <span>Imię</span>
    <p>{{profileData.firstName}}</p>
  </div>
  <div class="col-md-6 property">
    <span>Nazwisko</span>
    <p>{{profileData.lastName}}</p>
  </div>
  <div class="col-md-6 property">
    <span>Login</span>
    <p>{{profileData.login}}</p>
  </div>
  <div class="col-md-6 property">
    <span>Stanowisko</span>
    <p>{{profileData.position}}</p>
  </div>
  <div class="col-md-6 property">
    <span>Email</span>
    <p>{{profileData.email}}</p>
  </div>
  <div class="col-md-6 property">
    <span>Data urodzenia</span>
    <p>{{profileData.dateOfBirth}}</p>
  </div>
</div>
