<div class="candidate-management">
  <h1>Baza kandydatów</h1>

  <table class="candidate-table">
    <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Email</th>
      <th>Telefon</th>
      <th>Lokalizacja</th>
      <th>Status</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidate of candidates" (click)="goToCandidateDetails(candidate.id)" class="candidate-row">
      <td>{{ candidate.name }}</td>
      <td>{{ candidate.email }}</td>
      <td>{{ candidate.phone }}</td>
      <td>{{ candidate.location }}</td>
      <td>{{ candidate.status }}</td>
      <td><button class="details-button">Szczegóły</button></td>
    </tr>
    </tbody>
  </table>
</div>
