<section class="simple-dialog">
  <div class="dialog-body">
    <ng-container *ngIf="isShowMode()">
      <show-profile-data [profileData]="profileData"></show-profile-data>
      <button class="edit-button"
              (click)="navigate()">Edytuj Profil
      </button>
    </ng-container>
    <ng-container *ngIf="isChangeMode()">
      <change-profile-data [userData]="profileData"
                           (updateData$)="updateData($event)"
                           (cancelEdit$)="switchToShowMode()"></change-profile-data>
    </ng-container>
  </div>
</section>

