<section class="simple-dialog">
  <header class="dialog-header">
    <img ngSrc="assets/images/user-profile.png"
         alt="User"
         height="512"
         width="512"
         priority>
    <h1 class="text">Mój profil</h1>
  </header>
  <div class="dialog-body">
    <ng-container *ngIf="isShowMode()">
      <show-profile-data [profileData]="profileData"></show-profile-data>
      <button class="edit-button"
              (click)="navigate()">Edytuj Profil
      </button>
    </ng-container>
    <ng-container *ngIf="isChangeMode()">
      <change-profile-data [userData]="profileData"
                           (updateData$)="updateData($event)"></change-profile-data>
    </ng-container>
  </div>
</section>

