<div class="set-password-container">
  <h1>Ustaw nowe hasło</h1>
  <form (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="password">Nowe Hasło</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-input"
        [ngClass]="{'is-invalid': form['password'].invalid && form['password'].touched}"
        [formControl]="form['password']"
        required
      />
      <div *ngIf="form['password'].invalid && form['password'].touched" class="error-message">
        Hasło musi zawierać co najmniej 8 znaków, w tym jedną dużą literę, jedną cyfrę i jeden znak specjalny.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Potwierdź Hasło</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-input"
        [ngClass]="{'is-invalid': form['confirmPassword'].invalid && form['confirmPassword'].touched}"
        [formControl]="form['confirmPassword']"
        required
      />
      <div *ngIf="form['confirmPassword'].invalid && form['confirmPassword'].touched" class="error-message">
        Hasła muszą być takie same.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Zmień hasło</button>
    </div>
  </form>
</div>
