<div class="recruitment-overview">
  <div class="header">
    <h2 class="back-arrow" (click)="goBack()" (keydown)="onKeyDownHandler($event)">
      <fa-icon [icon]="faArrowLeft"></fa-icon> Moje rekrutacje
    </h2>
  </div>

  <div class="main-content">
    <aside class="filters">
      <h3>Filtruj</h3>
      <ul>
        <li (click)="toggleFilterOptions('status')"
            (keydown)="onKeyDownToggleFilter($event, 'status')"
            tabindex="0"
            [class.active]="activeFilters['status']">
          Status aplikacji
        </li>
        <ul *ngIf="showFilterOptions['status']">
          <li *ngFor="let status of uniqueStatuses"
              (click)="applyFilter('status', status)"
              (keydown)="onKeyDownApplyFilter($event, 'status', status)"
              tabindex="0"
              [class.active]="activeFilters['status'] === status">
            {{ status }}
          </li>
        </ul>

        <li (click)="toggleFilterOptions('location')"
            (keydown)="onKeyDownToggleFilter($event, 'location')"
            tabindex="0"
            [class.active]="activeFilters['location']">
          Lokalizacja
        </li>
        <ul *ngIf="showFilterOptions['location']">
          <li *ngFor="let location of uniqueLocations"
              (click)="applyFilter('location', location)"
              (keydown)="onKeyDownApplyFilter($event, 'location', location)"
              tabindex="0"
              [class.active]="activeFilters['location'] === location">
            {{ location }}
          </li>
        </ul>

        <li (click)="toggleFilterOptions('rating')"
            (keydown)="onKeyDownToggleFilter($event, 'rating')"
            tabindex="0"
            [class.active]="activeFilters['rating']">
          Ocena
        </li>
        <ul *ngIf="showFilterOptions['rating']">
          <li *ngFor="let rating of uniqueRatings"
              (click)="applyFilter('rating', rating)"
              (keydown)="onKeyDownApplyFilter($event, 'rating', rating)"
              tabindex="0"
              [class.active]="activeFilters['rating'] === rating">
            {{ rating === 0 ? 'Nieocenione' : rating }}
          </li>
        </ul>
      </ul>
      <button (click)="resetFilters()"
              (keydown)="onKeyDownHandler($event)"
              class="reset-button"
              tabindex="0">
        Resetuj filtry
      </button>
    </aside>


    <section class="candidates">
      <div class="search-header">
        <h1>Rekrutacja na stanowisko: {{ offerName }}</h1>
        <div class="search-container">
          <input type="text" placeholder="Szukaj kandydata..." (input)="onSearch($event)" />
        </div>
      </div>

      <div *ngIf="filteredCandidates.length === 0" class="no-candidates-message">
        Brak kandydatów
      </div>

      <div class="candidate-list" *ngIf="filteredCandidates.length > 0">
        <div class="candidate-item"
             *ngFor="let candidate of filteredCandidates"
             (click)="goToCandidateDetails(candidate.applicationCode)"
             (keydown)="onKeyDownGoToCandidate($event, candidate.applicationCode)"
             tabindex="0">          <div class="candidate-info">
            <h4>{{ candidate.firstName }} {{ candidate.lastName }}</h4>
            <p>{{ candidate.email }}</p>
            <p>{{ candidate.phone }}</p>
            <p>{{ candidate.city }}</p>
          </div>
          <div class="candidate-status">
            <span class="status" [ngClass]="'status-' + (candidate.status | lowercase)">
              {{ mapApplicationStatusToPolish(candidate.status) }}
            </span>
            <span class="rating">Ocena: {{ candidate.rating > 0 ? candidate.rating : 'Nieocenione' }}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
