<div class="job-details-container">
  <h2>{{ job.title }}</h2>

  <div class="job-info">
    <div class="job-detail">
      <label for="description">Opis:</label>
      <p id="description">{{ job.description }}</p>
    </div>

    <div class="job-detail">
      <label for="category">Kategoria stanowiska:</label>
      <p id="category">{{ job.jobCategory }}</p>
    </div>

    <div class="job-detail">
      <label for="location">Lokalizacja:</label>
      <p id="location">{{ job.location }}</p>
    </div>

    <div class="job-detail">
      <label for="workType">Rodzaj pracy:</label>
      <p id="workType">{{ job.workType }}</p>
    </div>

    <div class="job-detail">
      <label for="requirements">Wymagania:</label>
      <ul id="requirements">
        <li *ngFor="let requirement of job.requirements">{{ requirement }}</li>
      </ul>
    </div>

    <div class="job-detail">
      <label for="recruiters">Rekruterzy:</label>
      <ul id="recruiters">
        <li *ngFor="let recruiter of job.recruiters">{{ recruiter }}</li>
      </ul>
    </div>

    <div class="job-detail">
      <label for="createdAt">Data utworzenia:</label>
      <p id="createdAt">{{ formatDate(job.createdAt) }}</p>
    </div>
  </div>

  <button class="back-btn" (click)="goBack()">Powrót</button>
</div>
