<div class="reset-password-container">
  <h1 class="back-arrow" (click)="goBack()" (keydown)="onKeyDownHandler($event)">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    Odzyskiwanie dostępu do konta
  </h1>
  <p>Wpisz adres e-mail konta, do którego chcesz odzyskać dostęp.</p>

  <form (ngSubmit)="submit()" #resetForm="ngForm">
    <div class="mb-4">
      <label for="email">Adres e-mail</label>
      <input
        id="email"
        name="email"
        type="email"
        class="form-control"
        [(ngModel)]="email"
        required
        email
        placeholder="example@domain.com"
        #emailControl="ngModel"
        [ngClass]="{'is-invalid': emailControl.touched && emailControl.invalid}"
      />
      <div *ngIf="emailControl.touched && emailControl.invalid" class="text-danger">
        Wprowadź poprawny adres e-mail.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Dalej</button>
  </form>
</div>
