<header class="dashboard-header">
  <nav>
    <ul>
      <li><a routerLink="home"><fa-icon [icon]="faHome"></fa-icon></a></li>
      <li><a routerLink="jobs">Oferty pracy</a></li>
      <li><a routerLink="recruitment">Rekrutacje</a></li>
<!--      <li><a routerLink="candidates">Kandydaci</a></li>-->
      <li><a routerLink="calendar">Kalendarz</a></li>
      <li *ngIf="isAdmin"><a routerLink="admin">Admin</a></li>
    </ul>
  </nav>
  <div class="profile-actions">
    <button class="profile-button" (click)="navigateToProfile()">
      <fa-icon [icon]="faUser"></fa-icon> Mój profil
    </button>
    <button class="logout-button" (click)="logout()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon> Wyloguj się
    </button>
  </div>
</header>

<div class="dashboard-content">
  <router-outlet></router-outlet>
</div>
